{% extends "layout.html" %}

{% from "_formhelpers.html" import form_field %}

{% block body %}

<div class="row">
<div class="col-md-4">
<form method="post" action="login">
    {{ form.csrf_token }}
    {{ form.next_page }}
    {{ form_field(form.username) }}
    {{ form_field(form.password) }}
    <input type="submit" class="btn btn-success" value="Login"/>
</form>
</div>
</div>

{% endblock %}
