{% macro render_field(field) %}
  <th>{{ field.label }}</th>
  <td>{{ field(**kwargs)|safe }}</td>
  <td>
    {% for error in field.errors %}
       <span style="color: red;">{{error}}</span>
    {% endfor %}
  </td>
{% endmacro %}
