{% extends "layout.html" %}

{% block body %}

<h1>Welcome to the Project Skeleton!</h1>

<p>This is super-awesome page for the Flask Skeleton Project. You can try logging in (admin/admin), or accessing the  <a href="{{ url_for('admin.admin_index') }}">Admin interface</a>.</p>

{% endblock %}
