<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
 <title>{{ title|default('skeleton') }}</title>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

 <div class="page">

  <div class="metanav">
  {% if current_user.is_authenticated() %}
    Welcome, {{ current_user.username }} | <a href="{{ url_for('login_page.logout') }}">Log out</a>
  {% else %}
    You are not logged in | <a href="{{ url_for('login_page.login') }}">Log in</a>
  {% endif %}
   </div>

  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block body %}
  <h1> My First Flask Application! </h1>
  {% endblock %}

  {% block footer %}
  {% endblock %}
 </div>

</body>
</html
