{% extends "layout.html" %}

{% from "_formhelpers.html" import render_field %}

{% block body %}

<div class="twelve columns" id="login">
<form method="post" action="login">
    {{ form.csrf_token }}
    {{ form.next_page }}
    <table>
    <tr>
        {{ render_field(form.username) }}
    </tr>
    <tr>
        {{ render_field(form.password) }}
    </tr>
    <tr>
        <td>
        <input type="submit" value="Login"/>
        </td>
    </tr>
    </table>
</form>
</div>

{% endblock %}
